<section class="section project-details-section">
  <div class="section__content">
    <div class="project__title primary centered">
      Project Name 2
    </div>

    <div class="project__action-bar grid">
      <div class="project__action-bar__item col-6 primary">
        Add due date
      </div>
      <div class="project__action-bar__item col-6 primary">
        End Sprint
      </div>
    </div>

    <div class="project__information grid">
      <div class="project__summary col-6">
        <div class="burndown">
          <div class="label">
            Burndown
          </div>
          <div id="BurndownInner" `class="burndown-container">
              <burndown></burndown>
          </div>
        </div>
        <div class="task-summary">
          <div class="label">
            Summary
          </div>
          <div class="primary tasks-todo">
            20 Tasks to do
          </div>
          <div class="secondary tasks-done">
            11 Tasks done
          </div>
        </div>
      </div>
      <div class="project__team col-6">
        <div class="label">Team members</div>

        <ul class="team-list">
          <li class="team-member">
          </li>
          <li class="team-member">
          </li>
        </ul>

        <div class="project__team__add-trigger">
          <a class="primary" href="#">+ Add Member</a>
        </div>
      </div>
    </div>
  </div>
</section>
