<section class="section badges-section grid">
  <div class="section__title">
    <div class="title primary centered">
      Badge Capsule
    </div>
  </div>
  <div class="section__content">
    <ul class="badge-container grid">
      <li class="badge col-4 centered">
        <div class="badge__image"></div>
        <div class="badge__description">
          <div class="badge__description__title">
            "Space Trainee"
          </div>

          <div class="badge__description__text text">
            Obtained by signing up as a task buster
          </div>

          <div class="badge__status">
            <div class="secondary">
              Activated
            </div>
            <div class="primary">
              Activate
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
