<section class="section badges-section">
  <div class="section__title">
    <div class="title primary">
      Badge Capsule
    </div>
  </div>
  <div class="section__content">
    <ul class="badge-container grid">
      <li class="badge col-4">
        <div class="badge__image"></div>
        <div class="badge__description">
          <div class="badge__description__title">
            "Space Trainee"
          </div>

          <div class="badge__description__text">
            Obtained by signing up as a task buster
          </div>

          <div class="badge__status">
            <span class="secondary">
              Activated
            </span>
            <span class="primary">
              Activate
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
