.main-header {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

  .main-header__inner {
    padding: 14px 0;
  }

  .main-header__menu-trigger {
    float: left;
    margin-left: 22px;
    cursor: pointer;
  }
