.sidebar {
  max-width: 320px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  background-color: $dark-blue;
  height: 100%;
  z-index: 100;
  overflow:hidden;
}
  .sidebar__trigger {
    @include size(16px);
    text-align: right;
    float:right;
    width: 100%;
    overflow: hidden;
    svg {
      float:right;
      cursor: pointer;
    }
  }

  .sidebar__name {
    margin: 14px auto;
  }

  .sidebar__avatar {
    @include size(150px);
    margin: 0 auto;
  }

  .sidebar__menu {
    padding-top: 80px;
  }
  .sidebar__menu__item {
    margin-bottom: 20px;
  }
  .sidebar__menu__item a {
    color: $magenta;
    text-decoration: none;
    &.v-link-active {
      text-decoration: underline;
    }
  }
