<section class="section project-details-section ">
  <header class="section__header">
    <h4 class="homepage__login secondary light" @click="signIn">
      Sign in
    </h4>
  </header>
  <div class="section__content" >
    <div id="starfield" style="position: fixed; z-index: -1; top: 0px; width: 100%; height: 100%;">
    </div>
    <div class="homepage-details-container centered">
        <div class="homepage-details__logo centered"></div>
        <div class="homepage-details__title primary">Task Buster</div>
        <div class="homepage-details__tagline text">"Finishing your monster tasks as kicksass as you can!"</div>
    </div>

  </div>
</section>
