<section class="battlefield-section">

</section>
<section class="section mytasks-section grid">
  <div class="section__content">
    <div class="task-table grid">
      <header class="task-table__headers">
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            To-Do
          </div>
          <div class="task-table__header__add">+</div>
        </div>
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            In Progress
          </div>
        </div>
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            Done
          </div>
        </div>
      </header>

      <div class="task-table__columns">
        <ul class="col-4 task-table__column todo-column">
          <task v-for="todo in tasks.todo" :task-data="todo"></task>
        </ul>
        <ul class="col-4 task-table__column ongoing-column">
          <task v-for="ongoing in tasks.ongoing" :task-data="ongoing"></task>
        </ul>
        <ul class="col-4 task-table__column done-column">
          <task v-for="done in tasks.done" :task-data="done"></task>
        </ul>
      </div>
  </div>
  </div>
</section>
