<section class="section mytasks-section">
  <div class="section__content">
    <div class="task-table grid">
      <header class="task-table__headers">
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            To Do
          </div>
          <div class="task-table__header__add">+</div>
        </div>
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            In Progress
          </div>
        </div>
        <div class="task-table__header col-4 primary">
          <div class="task-table__header__title">
            Done
          </div>
        </div>
      </header>

      <div class="task-table__columns gridster">
         <div class="task-table__item col-4" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div class="task-table__item__title">
             Battlefield Assets
           </div>
           <div class="task-table__item__content">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
           </div>
           <div class="task-table__item__points">Points: 3</div>
         </div>
         <div class="task-table__item col-4" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
           <div class="task-table__item__title">
             Battlefield Assets
           </div>
           <div class="task-table__item__content">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
           </div>
           <div class="task-table__item__points">Points: 3</div>
         </div>
         <div class="task-table__item col-4" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
           <div class="task-table__item__title">
             Battlefield Assets
           </div>
           <div class="task-table__item__content">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
           </div>
           <div class="task-table__item__points">Points: 3</div>
         </div>
      </div>
  </div>
  </div>
</section>
