.main {
  .main-header__menu-trigger {
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  .sidebar {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  .app-content {
    transition: transform 0.3s ease;
    transform: translateX(0%);
  }
  &.activeSidebar {
    .sidebar {
      transform: translateX(0%);
    }
    .app-content {
      transform: translateX(320px);
    }
    .main-header__menu-trigger {
      opacity: 0;
    }
  }
}

/**

  #MYTASKS

*/


.task-table {
  background-color: $task-table-bgcolor;
  color: $ash-blue;
  min-height: 480px;
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;
}

.task-table__header {
  overflow: hidden;
  padding-bottom: 20px;

}
  .task-table__header__title {
    float:left;
    text-transform: uppercase;
  }
  .task-table__header__add {
    float:right;
  }
  .task-table__item__title {
    color: $black;
    margin-bottom: 10px;
  }

  .task-table__item__content {
    margin-bottom: 10px;
  }

.task-table__columns {
  @include outer-container;
  margin-top: 20px;

}
/**
  Some hacks
  [1] Used to retain column width if there are no child elements.
  [2] Dragging from one column to another is impossible for 0 height columns
*/
.task-table__column {
  padding: 1px; //[1]
  min-height: 80px; //[2]
}

.task-table__item {
  @include bordershadow;
  background-color: $white;
  border: 1px solid #ccc;
  padding: 22px;
  margin-bottom: 14px;
  cursor: pointer;
}
.task-table__item[data-col="3"] {
  @include omega;
}

/**

  #MYPROJECTS

*/

.project-list__item {
  border: 1px solid $light-blue;
  padding: 14px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.project-list__item__inner {
  float: left;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}
  .project__name {
    float:left;
  }
  .project__due-date {
    float:right;
    text-align: right;
  }
.project-list__item__remove {
  @include size(16px);
  float:right;
}

.project-details-section {

}

.end-sprint-box {
  padding: 10px;
  border: 1px solid $light-blue;
}

.project__action-bar {
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project__action-bar__item {
  cursor: pointer;
  &:first-child {
    text-align: right;
  }
}

.badge__image {
  max-width: 140px;
  margin: 0 auto;
}

.badge__description {
  padding: 22px;
  border: 1px solid #ccc;
  margin-top: 14px;
}

.myprojects-section, .project-details-section {
  padding-top: 50px !important;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  overflow: hidden;
}

.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}



@media screen and (max-width: 700px) {
  .project__information {
    .project__summary,.project__team {
      @include span-columns(12);
    }
  }
}
