.main {
  .sidebar {
    transform: translateX(-100%);
  }
  .app-content {
    transform: translateX(0%);
  }
  &.activeSidebar {
    .sidebar {
      transform: translateX(0%);
    }
    .app-content {
      transform: translateX(320px);
    }
  }
}

.task-table {
  background-color: $task-table-bgcolor;
  color: $ash-blue;
  min-height: 480px;
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 5%;
}

.task-table__header {
  overflow: hidden;
  padding-bottom: 20px;

}
  .task-table__header__title {
    float:left;
    text-transform: uppercase;
  }
  .task-table__header__add {
    float:right;
  }
  .task-table__item__title {
    color: $black;
    margin-bottom: 10px;
  }

  .task-table__item__content {
    margin-bottom: 10px;
  }

.task-table__columns {
  margin-top: 20px;
}

.task-table__item {
  @include bordershadow;
  background-color: $white;
  border: 1px solid #ccc;
  padding: 22px;
  margin-bottom: 14px;
}
.task-table__item[data-col="3"] {
  @include omega;
}


.project-details-section {

}

.project__action-bar__item:first-child {
  text-align: right;
}

.badge__image {
  max-width: 140px;
  margin: 0 auto;
}

.badge__description {
  padding: 22px;
  border: 1px solid #ccc;
  margin-top: 14px;
}
