.homepage-details-container {
  min-height: 600px;
  padding-top: 50px !important;
}

.homepage-details__logo {
  background-image:url("../img/icon/logo.png");
  height: 400px;
  width: 400px;
  margin-bottom: 60px !important;
}

.homepage__login{
  float: right;
  POSITION: ABSOLUTE;
  text-align: right;
  padding-right: 50px !important;
  right: 0;
  top: 12px;
}

.homepage-section .homepage__header {
  position: absolute;
right: 0;
top: 0;
width: 100%;
z-index: 200;

}
